.input-group{
    margin-bottom: 1em;
}

.text.origin{
    color: green;
}
.text.formatted{
    /*border-left: 2px solid red;
    padding-left: 1em;
      border-color: 
    */
  
    border: 2px solid black;
    padding-left: .2em;
    border-radius: .4em;
    padding: .4em;
    overflow-x: scroll;
}

.text pre{
    /*border: 2px solid black;
    padding-left: .2em;
    border-radius: .2em;*/
}

#log{
    overflow-y: scroll;
    max-height: 100%;
}

html, body{
    height: 100%;
}